.ProductCard {
  width: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;

  &__imgDiv {
    height: 30rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    flex: 1;
    background-color: #fff;
    color: rgb(94, 92, 92);
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
  }

  &__link {
    text-decoration: none;

    &:hover {
      & > * {
        font-weight: 600;
      }
    }
  }

  &__addToCartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    text-transform: capitalize;
    border-bottom-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.4px;
    transition: all 0.2s;
    border: 0;
    background-color: #89c35c;
    color: #fff;

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
}

.img {
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.date {
  font-style: italic;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}

.title {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.content {
  font-size: 1.5rem;
}

.MenuCardInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    margin-top: 3px;
  }
  & .label {
    text-transform: uppercase;
    font-size: 1rem;
  }
}

@media screen and (max-width: "430px") {
  .ProductCard {
    width: 250px;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    &__imgDiv {
      height: 20rem;
    }
  }
  .title {
    margin-bottom: 1rem;
  }
}
